# SpaceX Falcon 9 first stage Landing Prediction: A Data Science Capstone Project

## Explanatory Data Analysis with SQL

In [1]:
%load_ext sql

In [2]:
import sqlite3, csv
con=sqlite3.connect("my_data1.db")
cur=con.cursor()

In [3]:
%sql sqlite:///my_data1.db

In [4]:
import pandas as pd
df=pd.read_csv("https://github.com/JayshreeMishra/Dataset_Data_Science_Project/raw/main/Spacex.csv")

In [5]:
df.to_sql(
    name="SPACEXTBL",    # Table name in the SQLite database
    con=con,             # SQLite database connection object
    if_exists='replace', # If the table exists, replace it with the new data
    index=False,         # Do not include DataFrame index as a separate column
    method="multi"       # Use the "multiple insert" method for efficiency
)

101

In [6]:
# remove blank rows from table
%sql create table SPACEXTBL as SELECT * from SPACEXTBL where data is not null

 * sqlite:///my_data1.db
(sqlite3.OperationalError) table SPACEXTBL already exists
[SQL: create table SPACEXTBL as SELECT * from SPACEXTBL where data is not null]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [7]:
#unique launch sites in the space mission
%sql select distinct "Launch_Site" from SPACEXTBL

 * sqlite:///my_data1.db
Done.

[('CCAFS LC-40',), ('VAFB SLC-4E',), ('KSC LC-39A',), ('CCAFS SLC-40',)]

In [8]:
#records where launch sites begin with the string CCA
%sql select * from SPACEXTBL where Launch_site LIKE 'CCA%' LIMIT 5;

 * sqlite:///my_data1.db
Done.

[('2010-06-04', '18:45:00', 'F9 v1.0  B0003', 'CCAFS LC-40', 'Dragon Spacecraft Qualification Unit', 0, 'LEO', 'SpaceX', 'Success', 'Failure (parachute)'),
 ('2010-12-08', '15:43:00', 'F9 v1.0  B0004', 'CCAFS LC-40', 'Dragon demo flight C1, two CubeSats, barrel of Brouere cheese', 0, 'LEO (ISS)', 'NASA (COTS) NRO', 'Success', 'Failure (parachute)'),
 ('2012-05-22', '7:44:00', 'F9 v1.0  B0005', 'CCAFS LC-40', 'Dragon demo flight C2', 525, 'LEO (ISS)', 'NASA (COTS)', 'Success', 'No attempt'),
 ('2012-10-08', '0:35:00', 'F9 v1.0  B0006', 'CCAFS LC-40', 'SpaceX CRS-1', 500, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt'),
 ('2013-03-01', '15:10:00', 'F9 v1.0  B0007', 'CCAFS LC-40', 'SpaceX CRS-2', 677, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt')]

In [9]:
#total payload mass carried by boosters launched by NASA (CRS)
%sql select SUM(PAYLOAD_MASS__KG_) as 'Total Payload Mass(Kgs)', Customer from SPACEXTBL Where Customer = 'NASA (CRS)'

 * sqlite:///my_data1.db
Done.

[(45596, 'NASA (CRS)')]

In [10]:
# average payload mass carried by booster version F9 v1.1
%sql select AVG(PAYLOAD_MASS__KG_) as 'Avg Payload Mass(Kg)', Booster_Version from SPACEXTBL where Booster_Version = 'F9 v1.1'

 * sqlite:///my_data1.db
Done.

[(2928.4, 'F9 v1.1')]

In [11]:
# date when the first succesful landing outcome in ground pad was acheived.
%sql SELECT MIN(Date) as 'First_Successful_Ground_Landing' from SPACEXTBL WHERE Landing_Outcome= 'Success (ground pad)';

 * sqlite:///my_data1.db
Done.

[('2015-12-22',)]

In [12]:
# names of the boosters which have success in drone ship and have payload mass greater than 4000 but less than 6000
%sql select DISTINCT Booster_Version, Landing_Outcome from SPACEXTBL where Landing_Outcome='Success (drone ship)' AND 4000<PAYLOAD_MASS__KG_<6000

 * sqlite:///my_data1.db
Done.

[('F9 FT B1021.1', 'Success (drone ship)'),
 ('F9 FT B1022', 'Success (drone ship)'),
 ('F9 FT B1023.1', 'Success (drone ship)'),
 ('F9 FT B1026', 'Success (drone ship)'),
 ('F9 FT B1029.1', 'Success (drone ship)'),
 ('F9 FT  B1021.2', 'Success (drone ship)'),
 ('F9 FT  B1029.2', 'Success (drone ship)'),
 ('F9 FT B1036.1', 'Success (drone ship)'),
 ('F9 FT B1038.1', 'Success (drone ship)'),
 ('F9 B4 B1041.1', 'Success (drone ship)'),
 ('F9 FT  B1031.2', 'Success (drone ship)'),
 ('F9 B4 B1042.1', 'Success (drone ship)'),
 ('F9 B4 B1045.1', 'Success (drone ship)'),
 ('F9 B5  B1046.1', 'Success (drone ship)')]

In [13]:
# total number of successful and failure mission outcomes
%sql select Mission_Outcome, COUNT(Mission_Outcome) as 'Total_Landings'  from SPACEXTBL GROUP BY Mission_Outcome

 * sqlite:///my_data1.db
Done.

[('Failure (in flight)', 1),
 ('Success', 98),
 ('Success ', 1),
 ('Success (payload status unclear)', 1)]

In [14]:
#names of the booster_versions which have carried the maximum payload mass
%sql select (Booster_Version), Payload, PAYLOAD_MASS__KG_ as 'Max_Payload_Mass' from SPACEXTBL where PAYLOAD_MASS__KG_=(select MAX(PAYLOAD_MASS__KG_) from SPACEXTBL)

 * sqlite:///my_data1.db
Done.

[('F9 B5 B1048.4', 'Starlink 1 v1.0, SpaceX CRS-19 ', 15600),
 ('F9 B5 B1049.4', 'Starlink 2 v1.0, Crew Dragon in-flight abort test ', 15600),
 ('F9 B5 B1051.3', 'Starlink 3 v1.0, Starlink 4 v1.0 ', 15600),
 ('F9 B5 B1056.4', 'Starlink 4 v1.0, SpaceX CRS-20', 15600),
 ('F9 B5 B1048.5', 'Starlink 5 v1.0, Starlink 6 v1.0 ', 15600),
 ('F9 B5 B1051.4', 'Starlink 6 v1.0, Crew Dragon Demo-2 ', 15600),
 ('F9 B5 B1049.5', 'Starlink 7 v1.0, Starlink 8 v1.0', 15600),
 ('F9 B5 B1060.2 ', 'Starlink 11 v1.0, Starlink 12 v1.0 ', 15600),
 ('F9 B5 B1058.3 ', 'Starlink 12 v1.0, Starlink 13 v1.0 ', 15600),
 ('F9 B5 B1051.6', 'Starlink 13 v1.0, Starlink 14 v1.0 ', 15600),
 ('F9 B5 B1060.3', 'Starlink 14 v1.0, GPS III-04  ', 15600),
 ('F9 B5 B1049.7 ', 'Starlink 15 v1.0, SpaceX CRS-21', 15600)]

In [15]:
%sql select Launch_Site, Booster_Version, Landing_Outcome, substr(Date, 6,2) as 'Month', substr(Date,0,5) as 'Year' from SPACEXTBL where substr(Date,0,5)='2015' and Landing_Outcome= 'Failure (drone ship)'

 * sqlite:///my_data1.db
Done.

[('CCAFS LC-40', 'F9 v1.1 B1012', 'Failure (drone ship)', '01', '2015'),
 ('CCAFS LC-40', 'F9 v1.1 B1015', 'Failure (drone ship)', '04', '2015')]

In [16]:
# count of landing outcomes between the date 2010-06-04 and 2017-03-20, in descending order
%sql select COUNT(*) as Count, Landing_Outcome from SPACEXTBL where Date BETWEEN '2010-06-04' AND '2017-03-20' GROUP BY Landing_Outcome ORDER BY Count DESC

 * sqlite:///my_data1.db
Done.

[(10, 'No attempt'),
 (5, 'Success (drone ship)'),
 (5, 'Failure (drone ship)'),
 (3, 'Success (ground pad)'),
 (3, 'Controlled (ocean)'),
 (2, 'Uncontrolled (ocean)'),
 (2, 'Failure (parachute)'),
 (1, 'Precluded (drone ship)')]